<div class="cartContainer pb-5">
    <h2 class="text-xl mt-5">Productos</h2>
    <mat-divider class="divider"></mat-divider>

    @if (this.products().length === 0) {
        <p class="text-center text-gray-500 mt-4">Tu carrito está vacío 😢</p>
    } @else {
        <ul class="cartContainer__list">
            @for (item of this.products(); track $index) {
                <li class="cartContainer__list__item flex flex-col sm:flex-row md:flex-row gap-3 border-b pb-4 mb-4 items-center md:items-center">
                    <div class="cartContainer__list__item__img flex-shrink-0">
                        <img [src]="item.img" alt="{{ item.title }}" class="w-28 h-auto object-cover md:w-32">
                    </div>
                    <div class="cartContainer__list__item__info flex flex-col md:flex-row md:justify-between w-full md:items-center">
                        <div class="md:w-1/3">
                            <p class="cartContainer__list__item__info__title font-bold">{{ item.title }}</p>
                            <p class="cartContainer__list__item__info__price text-lg font-semibold text-gray-800">
                                $ {{ item.unit_price | number }}
                            </p>
                        </div>
                
                        <div class="flex items-center mt-2 md:mt-0 md:w-1/3 justify-center">
                            <button (click)="updateQuantity(item, -1)" class="w-8 h-8 text-sm px-2 py-1 bg-gray-300 text-black rounded">-</button>
                            <p class="text-lg w-6 text-center">{{ item.quantity }}</p>
                            <button (click)="updateQuantity(item, 1)" class="w-8 h-8 text-sm px-2 py-1 bg-gray-300 text-black rounded">+</button>
                        </div>
                
                        <button (click)="removeFromCart(item)" class="deleteBtn w-10 h-10 flex items-center justify-center bg-[#dd0e7c] text-white rounded-lg shadow-md">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </li>
            }
        </ul>

        <!-- Sección de Total -->
        <div class="cartContainer__total mt-6 p-4 bg-gray-100 rounded-lg shadow-md flex flex-col sm:flex-row md:flex-row md:justify-between items-center mx-auto max-w-[280px] sm:max-w-full">
            <p class="text-xl font-semibold">Total:</p>
            <p class="text-xl font-bold text-[#dd0e7c]">$ {{ getTotal() | number }}</p>
        </div>
    }
</div>

<!-- //TODO:Falta terminar que pasa luego del pago -->
<app-mercado-pago [zipCode]="codigoPostal" [products]="products()" />